<h1>My boats</h1>
<br>

<ul>
  <% @boats.each do |boat| %>
  <li>
    <a href="/boats/<%=boat.id%>"><%= boat.name %></a>
  </li>
  <% end %>
</ul>

<%= link_to "New boat", new_boat_path, class: 'btn btn-primary' %>
